*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.project{
    height: auto;
    min-height: 20em;
    /* background-color: red; */
    padding:1em;
}
.single{
    border: 1px solid #eee;
    width:100%;
    height:auto;
    min-height:20em;
    border-radius: 25px;
    overflow: hidden;
}
.photo{
    width:100%;
    max-height:15em;
    height:15em;
    background-color: red;
    border-bottom: 1px solid #eee;
}
.photo img{
    width:101%;
    height:15em;
}
.title{
    padding:0.7em 1em;
}
.title h5{
    color:#0081C9;
    font-size: 1em;
}
.stack span{
    padding:0.2em 1em;
    font-size:0.8em;
    background-color: #0081C9;
    border-radius: 10px;
    color:white;
    margin-top:0.5em;
}
.stack{
    padding-left:0.5em;
    padding-right:0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.live-link{
    width:100%;
    padding:1em 1em;
    display:flex;
    justify-content: end;
}
.live-link i{
    font-size: 2em;
    color:#FFC93C;
}
.logo{
    margin-top:0px;
    margin-left:0.6em;
}
.description{
    padding:1em;
    min-height:15em;
    height:auto;
}
.description p{
    text-align: justify;
}
